<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a17ab0">  <td>20/12/10 23:29:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:TestNGSelenium.TestNGSelenium.testscripts.GithubTest@7dd712e8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@402207819</td>   <td></td> </tr>
<tr bgcolor="a17ab0">  <td>20/12/10 23:29:35</td>   <td>-9499</td> <td title="&gt;&gt;TestBase.setupSuite()[pri:0, instance:TestNGSelenium.TestNGSelenium.testscripts.GithubTest@7dd712e8]">&gt;&gt;setupSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@402207819</td>   <td></td> </tr>
<tr bgcolor="a17ab0">  <td>20/12/10 23:30:40</td>   <td>55600</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.teardown()[pri:0, instance:TestNGSelenium.TestNGSelenium.testscripts.GithubTest@7dd712e8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@402207819</td>   <td></td> </tr>
<tr bgcolor="eb9298">  <td>20/12/10 23:30:31</td>   <td>46880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GithubTest.verifyGithubSlogan()[pri:0, instance:TestNGSelenium.TestNGSelenium.testscripts.GithubTest@7dd712e8]">verifyGithubSlogan</td> 
  <td>main@402207819</td>   <td></td> </tr>
</table>
