<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e07298">  <td>20/12/23 23:19:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateOrder.setup()[pri:0, instance:testscripts.CreateOrder@c074c0c]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1237264838</td>   <td></td> </tr>
<tr bgcolor="e07298">  <td>20/12/23 23:20:15</td>   <td>40393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateOrder.createCustomer(java.util.List)[pri:0, instance:testscripts.CreateOrder@c074c0c]">createCustomer</td> 
  <td>main@1237264838</td>   <td></td> </tr>
<tr bgcolor="e07298">  <td>20/12/23 23:20:17</td>   <td>42389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateOrder.tearDown(org.testng.ITestResult)[pri:0, instance:testscripts.CreateOrder@c074c0c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1237264838</td>   <td></td> </tr>
<tr bgcolor="e07298">  <td>20/12/23 23:20:22</td>   <td>46910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateOrder.setup()[pri:0, instance:testscripts.CreateOrder@c074c0c]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1237264838</td>   <td></td> </tr>
<tr bgcolor="e07298">  <td>20/12/23 23:20:33</td>   <td>57901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateOrder.createCustomer(java.util.List)[pri:0, instance:testscripts.CreateOrder@c074c0c]">createCustomer</td> 
  <td>main@1237264838</td>   <td></td> </tr>
<tr bgcolor="e07298">  <td>20/12/23 23:20:33</td>   <td>58532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateOrder.tearDown(org.testng.ITestResult)[pri:0, instance:testscripts.CreateOrder@c074c0c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1237264838</td>   <td></td> </tr>
<tr bgcolor="e07298">  <td>20/12/23 23:20:36</td>   <td>61701</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateOrder.saveExcel()[pri:0, instance:testscripts.CreateOrder@c074c0c]">&lt;&lt;saveExcel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237264838</td>   <td></td> </tr>
</table>
